.live-anchor {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    .anchor-portrait {
        display: inline-block;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-size: cover;
        margin-left: 17px;
    }
    .anchor-detail {
        margin-left: 12px;
        min-width: 400px;
        span {
            font-size: 12px;
            color: rgb(142, 146, 159);
        }
        span + span {
            margin-right: 15px;
        }
        i {
            display: inline-block;
            background-image: url('../img/icon.svg');
            margin-right: 5px;
            position: relative;
            top: 1px;
        }
    }
    .anchor-name {
        font-size: 14px;
        color: black;
    }
    .anchor-attention-icon {
        width: 11px;
        height: 10px;
        background-position: -20px -38px;
    }
    .anchor-gift-icon {
        width: 11px;
        height: 11px;
        background-position: -36px -37px;
    }
    .anchor-up-icon {
        width: 10px;
        height: 11px;
        background-position: -52px -37px;
    }
}

@keyframes likemove 
{
    0% {
        bottom: 30px;
        left: 40%;
    }
    100% {
        bottom: 100%;
        left: 0;
        opacity: 0;
    }
}

@keyframes barrage 
{
    0% {
        right: -185px;
    }
    100% {
        right: 120%;
    }
}

.video-like-box {
    position: absolute;
    right: 15px;
    bottom: 12px;
    width: 100px;
    height: 130px;
    .video-like {
        position: absolute;
        animation: likemove 3s infinite;
        div {
            position: absolute;
            top: 7px;
            left: 0;
            width: 0;
            height: 0;
            border: 7px solid red;
            display: inline-block;
        }
        .like-heart-square {
            top: 7px;
            left: 7px;
        }
        .like-heart-round {
            top: 7px;
            left: 0;
            border-radius: 7px;
        }
        .like-heart-round-second {
            top: 0;
            left: 7px;
            border-radius: 7px;
        }
    }
}
.live-content {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 123px;
    background-image: url('../img/video-back.jpeg');
    background-size: cover;
    overflow: hidden;
}
.live-opt {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 123px;
    text-align: center;
    button {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 140px;
        height: 38px;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        background: linear-gradient(right, rgb(12, 164, 255),  rgb(82, 228, 255));
        margin: 0 10px;
    }
}
.barrage-box {
    position: absolute;
    background-color: white;
    border: 1px solid rgb(81, 228, 255);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 6px;
    right: -185px;
    top: 20px;
    max-width: 168px;
    max-height: 100px;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
    box-sizing: content-box;
}
.barrage-box, .live-gift {
    font-size: 13px;
    .live-user-icon {
        display: inline-block;
        background-size: cover;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        float: left;
    }
    .live-user-detail {
        margin-left: 30px;
    }
    .live-user-name {
        color: rgb(248, 231, 28);
        margin-bottom: 3px;
    }
}
.emoji-panel {
    position: absolute;
    overflow: scroll;
    bottom: 48px;
    left: 10px;
    width: 186px;
    height: 110px;
    background-color: white;
    box-shadow: 0 0 8px rgba(151,151,151,0.2);
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 18px;
    overflow-x: hidden;
    .emoji-content {
        display: inline-block;
        padding: 3px;
        cursor: pointer;
    }
}

@keyframes live-gift 
{
    0% {
        left: -157px;
    }
    100% {
        right: 11px;
    }
}
.live-gift {
    position: absolute;
    bottom: 100px;
    left: 11px;
    width: 157px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgb(81, 228, 255);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    animation: live-gift 0.3s 1;
    padding: 6px 6px 9px 6px;
    .gift-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
        vertical-align: text-bottom;
    }
}