// Login
.rong-login {
    text-align: center;
    position: relative;
    height: 100%;
}
.rong-login-box {
    position: relative;
    top: 46%;
    transform: translateY(-50%);
    .rong-login-title {
        color: rgb(142, 146, 159);
        margin-bottom: 50px;
    }
}
.rong-login-list {
    margin: 0 10%;
    .rong-login-user {
        display: inline-block;
        width: 140px;
        cursor: pointer;
        height: 150px;
        margin: 0 20px 20px 20px;
        box-shadow: 0 3px 7px rgba(51,112,240,0.2);
        border-radius: 5px;
        .rong-user-port {
            width: 100%;
            height: 104px;
            margin: 0;
        }
        .rong-user-name {
            width: 100%;
            height: 46px;
            line-height: 46px;
            color: rgb(45, 65, 109);
        }
    }
}
.rong-log-bg-left {
    position: absolute;
    left: -92px;
    bottom: -92px;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    background-color: rgb(169, 242, 255);
}
.rong-log-bg-right {
    position: absolute;
    right: -224px;
    top: -224px;
    width: 448px;
    height: 448px;
    border-radius: 50%;
    background-color: rgb(204, 235, 255);
    .rong-log-bg-inr {
        position: absolute;
        right: 168px;
        top: 168px;
        width: 148px;
        height: 148px;
        border-radius: 50%;
        background-color: rgb(229, 245, 255);
        .rong-log-bg-inr {
            top: 38px;
            right: 38px;
            width: 65px;
            height: 65px;
            background-color: white;
        }
        .rong-log-bg-tri {
            position: absolute;
            background-image: url('../img/icon.svg');
            background-size: 116px auto;
            background-position: 0 0;
            width: 17px;
            height: 24px;
            top: 54%;
            left: 47%;
            transform: translate(-50%, -50%);
        }
    }
}