<div class="user-box">
    <div class="user-content" v-for="user, index in onlineUsers" @click="showBlockPanel(index)">
        <i class="user-portrait" :style="'background-image: url(./img/avatar/avatar_' + (parseInt(user.portrait)+1) + '.png)'">
        </i>
        <div class="user-desc user-online-desc" >
            <span class="user-name">{{user.name}}</span>
        </div>
        <component v-if="user.isShowBlockPanel" is="blockPanel" :hide="hidePanel" :user="user"></component>
    </div>
</div>